bin/
obj/
[Aa]pp[Dd]ata/
Dist/
publish/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
usersecrets.json
secrets.json
.env
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*.icloud
*.exe
*.dll
*.pdb
*.sqlite
*.db